<div class="white-panel">
  <h3>Добавить событие</h3>
  <hr>
  <div
    class="alert alert-{{message.type}"
    *ngIf="message.text"
  >{{message.text}}</div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label>Выберете категорию</label><br/>
      <select
        class="form-control"
        required
        [ngModel]="1"
        name="category"
        ngModel
      >
        <option *ngFor="let c of categories"
                [value]="c.id">{{c.name}}</option>
      </select>
    </div>
    <div
      class="form-group"

    >
      <div class="radio" *ngFor="let t of types">
        <label>
          <input
            type="radio"
            name="type"
            required
            [ngModel]="'outcome'"
            [value]="t.type"/> {{t.label}}</label>
      </div>
    </div>
    <div
      class="form-group"
      [ngClass]="{'has-error': amount.invalid && amount.touched}"
    >
      <label>Введите сумму</label><br/>
      <input
        class="form-control"
        type="number"
        name="amount"
        [ngModel]="1"
        min="1"
        #amount="ngModel"
        required
      >
      <span
        class="form-help-text"
        *ngIf="amount.invalid && amount.touched"
      >Поле обязательное для заполненния</span>
    </div>
    <div
      class="form-group"
      [ngClass]="{'has-error': description.invalid && description.touched}"
    >
      <label>Описание</label><br/>
      <input
        class="form-control"
        type="text"
        name="description"
        #description="ngModel"
        required
        ngModel
      >
      <span
        class="form-help-text"
        *ngIf="description.invalid && description.touched"
      >Поле обязательное для заполненния</span>
    </div>
    <div class="form-group text-right">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="f.invalid"
      >Добавить</button>
    </div>
  </form>
</div>
