<div class="col-xs-6">
  <div class="white-panel">
    <h3>Счет</h3>
    <div class="bottom-border">
      <label>P</label>
      <span>{{bill.value | number:'1.2'}}</span>
    </div>
    <div class="bottom-border">
      <label>Э</label>
      <span>{{euro | number:'1.2'}}</span>
    </div>
    <div class="bottom-border">
      <label>$</label>
      <span>{{dollar | number:'1.2'}}</span>
    </div>
  </div>
</div>
