<br/>
<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div
    @fade
    *ngIf="message.text"
    class="alert alert-{{message.type}}"
  >{{message.text}}</div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Email</label>
    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email" />
    <span *ngIf="form.get('email').invalid && form.get('email').touched" class="form-error">
      <span *ngIf="form.get('email')['errors']['required']">Email не может быть пустым</span>
      <span *ngIf="form.get('email')['errors']['email']">Не корректный email</span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" />
    <span *ngIf="form.get('password').invalid && form.get('password').touched" class="form-error">
      <span *ngIf="form.get('password')['errors']['required']">Пароль не может быть пустым</span>
      <span *ngIf="form.get('password')['errors']['minlength']">Пароль должен быть больше
        {{form.get('password')['errors']['minlength']['requiredLength']}} символов. Сейчас
        {{form.get('password')['errors']['minlength']['actualLength']}}</span>
    </span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary"
      [disabled]="form.invalid"
    >Войти</button>
  </div>
  <div class="form-group">
    <p class="text-mute text-xs-center"></p>
    Нет аккаунта? <a [routerLink]="'/registration'">Зарегестрироваться</a>
  </div>
</form>
