<h2>Страница планирования</h2>
<div *ngIf="!isLoaded" class="text-center"><wfm-loader></wfm-loader></div>
<div *ngIf="isLoaded" class="white-panel">
  <div class="clearfix">
    <div class="pull-left">
      <h3>Расходы</h3>
    </div>
    <div class="pull-right">
      <b>Общий остаток:</b> <span class="green">{{bill.value | number:'1.2'}}</span>
    </div>
  </div>
  <hr/>
  <div *ngFor="let c of categories">
    <div class="row">
      <div class="col-xs-6">
        <div class="progress">
          <div class="progress-bar progress-bar-{{getCatColorClass(c)}}" role="progressbar"
               aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: getCatPercent(c)}">
            {{getCatPercent(c)}} {{c.name}}
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <span class="text-{{getCatColorClass(c)}}">{{getCategoryCost(c)|number: '1.2'}}</span> из <span class="text-primary">{{c.capacity | number:'1.2'}}</span> |
        осталось <span class="text-{{getCatColorClass(c)}}">{{c.capacity - getCategoryCost(c)|number: '1.2'}}</span></div>
    </div>
  </div>
</div>
