<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeFilter()">×</button>
        <h4 class="modal-title">Фильтр</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        <div class="form-group">
          <label for="period" class="control-label">Выберите период</label>
          <select id="period" class="form-control" [(ngModel)]="selectedPeriod">
            <option *ngFor="let p of timePerions" [value]="p.type">{{p.label}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Выберите тип события</label>
          <div>
            <label *ngFor="let t of types">
              <input
                type="checkbox"
                class="checkbox"
                [value]="t.type"
                (change)="handelChangetype($event.target)"
              /> <span>{{t.label}}</span></label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Выберите категорию</label>
          <div>
            <label *ngFor="let c of categories">
              <input
                type="checkbox"
                class="checkbox"
                [value]="c.id"
                (change)="handelChangeCategory($event.target)"
              /> <span>{{c.name}}</span></label>
          </div>
        </div>
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeFilter()">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="applyFilter()">Применить</button>
      </div>
    </div>
  </div>
</div>
