<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email" />
    <span *ngIf="form.get('email').invalid && form.get('email').touched" class="form-error">
      <span *ngIf="form.get('email')['errors']['required']">Email не может быть пустым</span>
      <span *ngIf="form.get('email')['errors']['email']">Не корректный email</span>
      <span *ngIf="form.get('email')['errors']['forBiddenEmail']">Данный email уже занят</span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">Password</label>
    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" />
    <span *ngIf="form.get('password').invalid && form.get('password').touched" class="form-error">
      <span *ngIf="form.get('password')['errors']['required']">Пароль не может быть пустым</span>
      <span *ngIf="form.get('password')['errors']['minlength']">Пароль должен быть больше
        {{form.get('password')['errors']['minlength']['requiredLength']}} символов. Сейчас
        {{form.get('password')['errors']['minlength']['actualLength']}}</span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}"
  >
    <label for="name">Имя</label>
    <input
      formControlName="name"
      class="form-control"
      id="name"
      placeholder="name" />
    <span *ngIf="form.get('name').invalid && form.get('name').touched" class="form-error">
      Имя не может быть пустым
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('agree').invalid && form.get('agree').touched}"
  >
    <input
      formControlName="agree"
      type="checkbox"
      class="form-control"
      id="agree"
      placeholder="agree" />
    <span>Соглсен с правилами</span>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid"
    >Зарегестрироваться</button>
  </div>
  <div class="form-group">
    Уже есть аккаунт <a [routerLink]="'/login'">Войти</a>
  </div>
</form>
