<h2>Страница записей</h2>
<hr/>
<div class="section text-center" *ngIf="!isLoaded"><wfm-loader></wfm-loader></div>
<section *ngIf="isLoaded">
  <div class="row">
    <div class="col-xs-6">
      <wfm-add-event
        [categories]="categories"></wfm-add-event>
    </div>
    <div class="col-xs-6">
      <wfm-add-category (onCategoryAdd)="newCategoryAdded($event)"></wfm-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <wfm-edit-category
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)"
      ></wfm-edit-category>
    </div>
  </div>
</section>
