<div class="white-panel">
  <h3>Добавить Категорию</h3>
  <hr>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group"
         [ngClass]="{'has-error': name.invalid && name.touched}"
      >
      <label>Введите название</label><br/>
      <input
        type="text"
        class="form-control"
        required
        #name="ngModel"
        name="name"
        ngModel
      />
      <div
        *ngIf="name.invalid && name.touched"
        class="red">Название категории не может быть пустым
      </div>
    </div>
    <div
      class="form-group"
      [ngClass]="{'has-error': capacity.invalid && capacity.touched}"
    >
      <label>Введите название</label><br/>
      <input
        type="number"
        class="form-control"
        [ngModel]="1"
        name="capacity"
        #capacity="ngModel"
        required
        min="1"
        >
      <div
        *ngIf="capacity.invalid && capacity.touched"
        class="red">Название категории не может быть пустым
      </div>
    </div>
    <div class="form-group text-right">
      <button
        type="submit"
        [disabled]="f.invalid"
        class="btn btn-primary"
      >Добавить</button>
    </div>
  </form>
</div>
