<div class="white-panel">
  <h3>Редактировать Категорию</h3>
  <hr>
  <div
    class="alert alert-{{message.type}}"
    *ngIf="message.text"
  >{{message.text}}</div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group"
         [ngClass]="{'has-error': name.invalid && name.touched}"
    >
      <div class="form-group">
        <label class="control-label" for="e-select_category">Выберите категорию</label>
        <select
          id="e-select_category"
          class="form-control"
          [(ngModel)]="currentCategoryID"
          (change)="onCategoryChange()"
          [ngModelOptions]="{standalone: true}"
        >
          <option
            *ngFor="let c of categories"
            [value]="c.id"
          > {{c.name}}</option>
        </select>
      </div>
      <label>Введите название</label><br/>
      <input
        type="text"
        class="form-control"
        required
        #name="ngModel"
        name="name"
        [ngModel]="currentCategory.name"
      />
      <div
        *ngIf="name.invalid && name.touched"
        class="red">Название категории не может быть пустым
      </div>
    </div>
    <div
      class="form-group"
      [ngClass]="{'has-error': capacity.invalid && capacity.touched}"
    >
      <label>Введите значение</label><br/>
      <input
        type="number"
        class="form-control"
        [ngModel]="currentCategory.capacity"
        name="capacity"
        #capacity="ngModel"
        required
        min="1"
      >
      <div
        *ngIf="capacity.invalid && capacity.touched"
        class="red">Название категории не может быть пустым
      </div>
    </div>
    <div class="form-group text-right">
      <button
        type="submit"
        [disabled]="f.invalid"
        class="btn btn-primary"
      >Редактировать</button>
    </div>
  </form>
</div>
