<div *ngIf="!isLoaded"><wfm-loader></wfm-loader></div>
<div *ngIf="isLoaded">
  <a [routerLink]="['/system/history']"><<</a>
  <h2>Страница записи {{event.id}}</h2>
  <hr/>
  <div class="white-panel col-xs-4">
    <div class="panel" [ngClass]="{
    'panel-success': event.type === 'income',
    'panel-danger': event.type === 'outcome'
    }">
      <div class="panel-heading">
        <span *ngIf="event.type === 'income'">Доход</span>
        <span *ngIf="event.type === 'outcome'">Расход</span>
      </div>
      <div class="panel-body">
        <ul>
          <li>Сумма: {{event.amount|number:'1.2'}} Р</li>
          <li>Категория: {{category.name}}</li>
          <li>Коментарий: {{event.description}}</li>
        </ul>
      </div>
      <div class="panel-footer">{{event.data|wfmMoment}}</div>
    </div>
  </div>
</div>
