<div class="leftMenu navbar navbar-[routerLink]=['/" role="navigation">
  <nav>
    <ul class="nav nav-default">
      <li routerLinkActive="active"><a [routerLink]="['/system', 'bill']">Счет</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/system', 'history']">История</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/system', 'planning']">Планирование</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/system', 'records']">Запись</a></li>
    </ul>
  </nav>
</div>
