<div class="white-panel">
  <div class="row">
    <div class="col-xs-6">
      <h3>Список событий</h3>
    </div>
    <div class="col-xs-6 row">
      <div class="form-group col-xs-6 ">
        <input
          type="text"
          [(ngModel)]="searchValue"
          [placeholder]="searchPlaceholder"
          class="form-control"
          type="text">
      </div>
      <div class="form-group col-xs-6 ">
        <div class="dropdown" wfmDropDown>
          <button type="submit" class="form-control">Параметр</button>
          <div class="drop-down">
            <a class="btn btn-default" (click)="changeCriteria('amount')">Сумма</a>
            <a class="btn btn-default" (click)="changeCriteria('date')">Дата</a>
            <a class="btn btn-default" (click)="changeCriteria('category')">Категори</a>
            <a class="btn btn-default" (click)="changeCriteria('type')">Тип</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Сумма</th>
      <th>Дата</th>
      <th>Категория</th>
      <th>Тип</th>
      <th>Действие</th>
    </tr>
    <tr *ngFor="let e of events | wfmFilter:searchValue:searchField, let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{e.amount|number:'1.2'}}</td>
      <td>{{e.date|wfmMoment:'DD.MM.YYYY'}}</td>
      <td>{{e.cat_name}}</td>
      <td><label [ngClass]="getEventClass(e)">
        <span *ngIf="e.type === 'income'">Доход</span>
        <span *ngIf="e.type === 'outcome'">Расход</span>
      </label></td>
      <td>
        <a [routerLink]="['/system/history', e.id ]" class="btn btn-default btn-sm">Открыть</a>
      </td>
    </tr>
  </table>
</div>
