<div class="col-xs-6">
  <div class="white-panel">
    <h3>Курс</h3>
    <table class="table">
      <tr>
        <th>Валюта</th>
        <th>Курс</th>
        <th>Дата</th>
      </tr>
      <tr>
        <td>RUB</td>
        <td>1</td>
        <td>{{currency.date | wfmMoment:'YYYY-MM-DD'}}</td>
      </tr>
      <tbody>
        <tr *ngFor="let key of currencies">
          <td>{{key}}</td>
          <td>{{currency.rates[key]}}</td>
          <td>{{currency.date | wfmMoment:'YYYY-MM-DD'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
