<h2>История</h2>
<hr/>
<div *ngIf="!isLoaded"></div>
<div *ngIf="isLoaded">
  <button (click)="openFilter()">Фильтр</button>
  <wfm-history-chart></wfm-history-chart>
  <wfm-history-events
  [categories]="categories"
  [events]="filteredEvents"
  ></wfm-history-events>
  <div *ngIf="isFilterVisible">
    <wfm-history-filter
      (onFilterCancel)="onFilterCancel()"
      (onFilterApply)="onFilterApply($event)"
      [categories]="categories"
    ></wfm-history-filter>
  </div>
</div>
