<header class="row">
  <div class="pull-left">{{date| date:'dd.MM.yyyy'}}</div>
  <div class="pull-right">
    <div class="dropdown" wfmDropDown>
      Здравствуйте {{user.name}}
      <div class="drop-down">
        <a class="btn btn-default" [routerLink]="['/system', 'records']">Сделать запись</a>
        <a class="btn btn-default" (click)="onLogout()">Выйти</a>
      </div>
    </div>
  </div>

</header>
