<div class="clearfix">
  <h2 class="pull-left">Страница счета</h2>
  <div class="pull-right">
    <button class="btn btn-default" (click)="onRefresh()">Обновить</button>
  </div>
</div>
<hr />
<div class="row text-center" *ngIf="!isLoaded"><wfm-loader></wfm-loader></div>
<div class="row" *ngIf="isLoaded">
  <wfm-bill-card [bill]="bill" [currency]="currency"></wfm-bill-card>
  <wfm-carrency-card [currency]="currency"></wfm-carrency-card>
</div>
