.white-panel {
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.35);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.bottom-border {
  border-bottom: 2px solid #f4a02d;
}

.bottom-border label {
  color: #f4a02d;
  font-size: 20px;
  width: 50px;
  text-align: center;
}

.green {
  color: #25dd64
}

.blue {
  color: #31b7dd
}

.yellow {
  color: #f2f137
}

.red {
  color: #f25c71
}

.leftMenu {
  margin-top: 75px;
}

.leftMenu li.active {
  background: #efefef;
}

header {
  background: #efefef;
  padding: 10px;
  margin-bottom: 20px;
}

.dropdown .drop-down{
  display: none;
}

.dropdown.open .drop-down{
  display: block;
}

.drop-down {
  width: 150px;
  padding: 10px;
  border: 1px solid #5f5f5f;
  position: absolute;
  z-index: 99;
  background: #fff;
  margin-left: -59px;
}

.drop-down a {
  width: 100%;
}
